$bg: #fff

$l-text: #fff
$muted-text: #acacac

$l-blue: #ccf2ff
$l-green: #9fdf9f

$ll-grey: #eee
$l-grey: #ddd
$m-grey: #aaa
$d-grey: #555
$dd-grey: #333
$darkest: #000

// ====================== General ======================

.whisper
  color: $muted-text
  font-size: 0.8rem


// ====================== Pages Switching ======================

.loading-overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: $bg
  padding-top: 30%
  h3
    max-width: 50%
    margin: auto

#app
  height: 100vh
  width: 100vw
.page
  height: 100vh
  position: absolute

#display-page
  width: 100vw
  overflow-x: hidden
  z-index: 1
  padding-top: 2rem
  .main-content
    width: 100%
ul
  padding-left: 1rem
  list-style: none
  padding-bottom: 2rem

.button
  font-size: 0.8rem
  background: $dd-grey
  color: $l-text
  border-radius: 0
  border: none
  margin: 0.5rem 0
  padding: 1rem
  &:hover
    background: $darkest
    cursor: pointer
  &.nav-button
    width: 100%
    &:hover
      text-decoration: underline

#title-page
  z-index: 2
  width: 101vw
  .half
    box-sizing: border-box
    margin-left: 1rem
    background: $ll-grey
  #top-half
    box-shadow: 0px 5px 70px 5px $m-grey
    height: 40%
  #bottom-half
    height: 60%
  .main-title
    padding-top: 8rem
  form
    padding-top: 2rem
  small
    margin-top: 2rem
  select
    margin-bottom: 2rem
  label
    margin-bottom: 2rem
  .button
    width: 300px

#legend
  margin-left: 1rem
  p
    font-size: 0.8rem


// ====================== Carousel ======================

.carousel
  margin-bottom: 2rem
  h2
    margin: 2rem 0

.ball
  width: 50px
  height: 50px
  margin: 0.5rem
  border-radius: 50%
  background: $m-grey
  &.unknown
    background: $m-grey
  &.possibly_lighter
    background: $l-grey
  &.possibly_heavier
    background: $d-grey
  &.normal
    background: $l-green
  &.small
    height: 30px
    width: 30px

@mixin hoverable
    background: $l-blue
    cursor: pointer

.node-holder
  overflow: hidden
  span
    height: 400px
    display: block
    width: 300%
    margin-left: -100%
    position: relative

.node
  position: absolute
  left: 34%
  right: 34%
  top: 0
  padding: 3rem 0.5rem
  margin: 2rem 0
  border-top: 1px solid $m-grey
  border-bottom: 1px solid $m-grey
  &.selectable
    &:hover
      @include hoverable

.bucket
  border-bottom: 2px solid $darkest
  border-left: 2px solid $darkest
  border-right: 2px solid $darkest
  padding: 1rem

.arrow-holder
  height: 100%
  &:hover
    @include hoverable

.arrow
  border-top: 2px solid $darkest
  border-right: 2px solid $darkest
