$l-text: #fff

$l-blue: #ccf2ff
$l-green: #9fdf9f

$ll-grey: #eee
$l-grey: #ddd
$m-grey: #aaa
$d-grey: #555
$dd-grey: #333
$darkest: #000

// ====================== Pages ======================

#app
  min-height: 100vh

.page
  box-sizing: border-box
  height: 100vh
  width: 100vw
  position: absolute


#display-page
  z-index: 1
  padding-top: 2rem

ul
  list-style: none
  padding: 0

.button
  font-size: 0.8rem
  min-width: 300px
  background: $dd-grey
  color: $l-text
  border-radius: 0
  border: none
  margin: 0.5rem 0
  padding: 1rem
  &:hover
    background: $darkest
    cursor: pointer
  &.nav
    width: 100%
    &:hover
      text-decoration: underline

#title-page
  .half
    background: $ll-grey
  z-index: 2
  #top-half
    height: 40%
    box-shadow: 0px 5px 70px 5px $m-grey
  #bottom-half
    height: 60%
  .main-title
    padding-top: 8rem
  form
    padding-top: 2rem
  small
    margin-top: 2rem
  select
    margin-bottom: 2rem
  label
    margin-bottom: 2rem



// ====================== Carousel ======================

.carousel
  margin-bottom: 2rem
  h2
    margin: 2rem 0


.ball
  width: 50px
  height: 50px
  margin: 0.5rem
  border-radius: 50%
  background: $m-grey
  &.unknown
    background: $m-grey
  &.possibly_lighter
    background: $l-grey
  &.possibly_heavier
    background: $d-grey
  &.normal
    background: $l-green

@mixin hoverable
    background: $l-blue
    cursor: pointer

.node-holder
  overflow: hidden
  span
    height: 400px
    display: block
    width: 300%
    margin-left: -100%
    position: relative

.node
  position: absolute
  left: 34%
  right: 34%
  top: 0
  padding: 3rem 0.5rem
  margin: 2rem 0
  border-top: 1px solid $m-grey
  border-bottom: 1px solid $m-grey
  &.selectable
    &:hover
      @include hoverable

.bucket
  border-bottom: 2px solid $darkest
  border-left: 2px solid $darkest
  border-right: 2px solid $darkest
  padding: 1rem

.arrow-holder
  height: 100%
  &:hover
    @include hoverable

.arrow
  border-top: 2px solid $darkest
  border-right: 2px solid $darkest
